@media screen and (max-width: 768px) {
  .header-logo {
    font-size: 25px;
  }

  .profile-title h1 {
    font-size: 70px;
  }

  .message-form {
    padding: 20px 100px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    width: 550px;
  }

  .header-logo {
    font-size: 20px;
    letter-spacing: 4px;
    padding-left: 25px;
    padding-right: 5px;
  }

  .header-list li {
    font-size: 13px;
    margin-right: 10px;
  }

  .header-list ul {
    padding-left: 20px;
  }

  .profile {
    width: 550px;
    margin: 0 auto;
  }

  .profile-title h1 {
    letter-spacing: 5px;
  }

  .about {
    width: 550px;
    height: 350px;
    margin-top: 60px;
  }

  .project {
    width: 550px;
    height: auto;
  }

  .project h3 {
    padding-top: 20px;
  }

  .project-image,
  .project-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .project-image img {
    height: auto;
    max-width: 100%;
    width: 220px;
  }

  .project-image p {
    padding: 10px;
  }

  .message {
    width: 550px;
  }

  .footer {
    width: 550px;
  }
}
