body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}

.header {
  height: 75px;
  background-color: #404146;
  display: flex;
  align-items: center;
}

.header-logo {
  padding-left: 50px;
  padding-right: 20px;
  float: left;
  font-size: 30px;
  letter-spacing: 7px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
  color: white;
}

li a {
  text-decoration: none;
  color: white;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-list li {
  float: left;
  margin-right: 20px;
}

.header p {
  color: white;
}

.profile {
  height: 550px;
}

.profile-title {
  padding-top: 10px;
  text-align: center;
}

.profile-title h1 {
  letter-spacing: 9px;
  font-weight: bold;
  font-size: 90px;
  font-family: "Poppins", serif;
  margin: 30px 30px 0 30px;
}

span {
  color: darkgoldenrod;
}

.profile-title h2 {
  letter-spacing: 2px;
  font-size: 40px;
  margin: 0;
  font-weight: bold;
}

.profile-image {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.profile-image img {
  height: 250px;
}

.about {
  height: 300px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
}

.about-text {
  text-align: center;
  padding: 50px 100px;
  font-weight: bold;
}

.project {
  height: 450px;
}

.project h3 {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 20px;
}

.project-image {
  display: flex;
  justify-content: space-around;
}

.project-image img {
  height: 200px;
  box-shadow: 0px 4px 8px rgb(162, 156, 156);
}

.project-image p {
  display: flex;
  justify-content: space-around;
}

.message {
  height: 400px;
  background-color: whitesmoke;
}

.message h3 {
  padding-top: 70px;
  padding-bottom: 20px;
  text-align: center;
}

.message-form {
  display: flex;
  flex-direction: column;
  padding: 10px 400px;
  gap: 20px;
}

.message input {
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.message textarea {
  padding: 10px;
  border: none;
  border-radius: 10px;
  line-height: normal;
  font-family: sans-serif;
}

.message button {
  margin-top: 20px;
  padding: 10px;
  width: 350px;
  border: none;
  border-radius: 10px;
  background-color: rgb(240, 231, 106);
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #6d6d6f;
  margin: 0;
  padding: 0;
}

.footer-logo {
  float: left;
  font-size: 30px;
  letter-spacing: 7px;
  font-weight: bold;
  color: white;
  margin-bottom: 50px;
  padding-left: 30px;
}

.footer-logo a {
  text-decoration: none;
  color: white;
}

.footer-list {
  padding: 30px;
}

.footer-list li {
  margin-bottom: 15px;
}

#notifEmail {
  color: rgb(232, 77, 77);
  font-size: 12px;
  margin: 0;
  padding: 0;
}

/** Accordion Style **/
.faq-title h3 {
  text-align: center;
  padding: 50px 0 30px 0;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-bottom: 1px #ccc solid;
  text-align: left;
  font-size: 15px;
}

.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none; /* Menambahkan display:none; secara default, panel akan disembunyikan terlebih dahulu */
  padding: 0 18px;
}
